USE 教务系统 
GO
SELECT 学生.学号, 学生.姓名, 上课.课程编号, 上课.教授编号
FROM 学生 INNER JOIN 班级 AS 上课
ON 学生.学号 = 上课.学号






















































