USE 教务系统 
GO
CREATE TABLE 主管 (
  员工号码 char(18) NOT NULL,
  姓名 varchar(12) NULL,
  主管号码 char(18) NULL,
  PRIMARY KEY (员工号码)
) 
GO
INSERT INTO 主管 
VALUES ('460025195602013765','陈庆新',NULL)
GO
INSERT INTO 主管 
VALUES ('460025197803027891','杨金机','460025195602013765')
GO
INSERT INTO 主管 
VALUES ('460025196704016734','李鸿章','460025197803027891')
GO

















 































































