USE 教务系统 
GO
SELECT 身份证号码, 姓名, 薪水
FROM 员工 
ORDER BY 身份证号码
OFFSET 3 ROWS
FETCH NEXT 5 ROWS ONLY

























































